* {
  box-sizing: border-box;
}
body {
  font-family: "Inconsolata", monospace;
  font-family: "Playfair Display", serif;
  font-family: "Ubuntu", sans-serif;
}
.header {
  background-color: white;
  color: black;
  font-weight: bolder;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

}
.row {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -15px;
  margin-right: -15px;
}
.logo {
  text-align: center;
  margin-top: 15px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  li {
    //padding: 15px;
    margin-top: 45px;
    //margin-bottom: 45px;
    margin-left: 37px;
    margin-right: 20px;
  }
}

.menu {
    li {
  width: 10%;
  position: relative;
  text-align: center;
  }
    a {
        text-decoration: none;
        line-height: 20px;
        color: black;
        font-size: 17px;
    }
    a:hover {
        color: grey;
    }
}


.submenu {
  display: none;
  width: 202%;
  position: absolute;
  
}

.menu li:hover .submenu {
    display: flex;
    flex-direction: column;
  }

.submenu a {
  height: 40px;
}
.submenu li:hover a {
  color: grey;
  cursor: pointer;
}

.background {
  background-image: url(images/review-paws.png);
}
.h2 {
  font-size: large;
  font-weight: bold;
  padding: 15px;
  margin: 15px;
}
.h1 {
  font-size: 85px;
  font-weight: bolder;
  padding: 15px;
  margin: 15px;
}
.p {
  font-size: medium;
  font-weight: bold;
  padding: 15px;
  margin: 15px;
  line-height: 35px;
}
.h3 {
  padding: 15px;
  margin: 15px;
  color: grey;
}

.contact {
    margin: 15px;
    padding: 15px;
}

.socials {
    display: flex;
}

[class*="col"] {
  padding-left: 15px;
  padding-right: 15px;
}

/*grid xs*/
.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.col-xs-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-xs-5 {
  flex: 41.666667%;
  max-width: 41.666667%;
}
.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-xs-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.col-xs-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
/*tablet*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(228, 220, 220);
    text-align: center;
  }
  .col-sm-5 {
    flex: 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*laptop*/
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*desktop*/
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*only mobile*/
@media (max-width: 767px) {
  .container {
    max-width: 720px;
  }
}
